* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(data/fondo.jpg);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

h1,
p {
    text-transform: uppercase;
    font-weight: 700px;
}

.remarcado {
    text-decoration: underline;
    color: #FF00D6;
}

.mensaje {
    font-size: 30px;
    display: flex;
    color: white;
}

.boton {
    position: absolute;
}

.boton img {
    width: 100%;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.instrucciones {
    margin-top: 1%;
    margin-bottom: 0.5%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.pizarron {
    display: flex;
    justify-content: center;
    width: 70%;
}

.contenedorIntrucciones {
    width: 95%;
}

.instruccion img {
    width: 100%;
    height: auto;
}

.anterior,
.siguiente {
    top: 45%;
    width: 12%;
}

.anterior {
    left: 2%;
}

.siguiente {
    right: 2%;
}

.apagado {
    width: 13%;
    position: relative;
}

.encendido {
    width: 13%;
    position: relative;
}

.piano-muestra {
    display: flex;
    width: 74%;
    height: 13vh;
    padding: 1.5% 2%;
    margin: 0 11%;
    background-image: url(data/fondoPiano.png);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;

}

.inicio .consola {
    width: 93vh;
    height: 15vh;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    margin: 1% 2% 0 7%;
    text-align: center;

}

.superior {
    display: flex;
}

.superior .apagado {
    width: 13%;
    height: 13%;
}

.ia {
    display: flex;
    position: absolute;
    z-index: 3;
    left: 7%;
    top: 29%;
}

.image-container {
    display: flex;
    gap: 33%;
    /* Espacio entre las imágenes */
}

.image-container img {
    width: 35%;
    display: block;
    /* Asegura que no haya espacio extra alrededor de las imágenes */
}

.reproductor {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Estilo general del progress */
progress {
    width: 70%;
    height: 8px;
    appearance: none;
    -webkit-appearance: none;
    margin-left: 5%;
}

/* Para navegadores WebKit (como Chrome y Safari) */
progress::-webkit-progress-bar {
    background-color: #FFFFFF;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #9429D7;
    border-radius: 10px;
}

/* Para navegadores Firefox */
progress::-moz-progress-bar {
    background-color: #9429D7;
    border-radius: 10px;
}

/* Puedes cambiar los colores, bordes, tamaño, etc. a tu gusto */

.reproductor .boton {
    position: relative;
    width: 15px;
}


.piano-contenedor {
    background-image: url(data/fondoPianoCompleto.png);
    width: 57%;
    margin: 5% 22%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2%;
}


.piano-contenedor .apagado {
    width: 15%;
    margin: 3% 0 0 2%;
}

.pianoCompleto .consola {
    margin: 3% 5%;
    width: 67vh;
    height: 22vh;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.pianoCompleto .mensaje {
    margin: 3% 0 0 2%;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.pianoCompleto .mensaje h1 {
    font-size: 20px;
    margin-bottom: 5%;
}

.piano {
    display: flex;
    width: 70vh;
    margin: 2% 5% 12% 5%;
    padding-bottom: 3%;
}

.tecla-contenedor {
    position: relative;
    display: flex;
}

.tecla.blanca {
    font-family: 'Montserrat', sans-serif;
    width: 15vh;
    height: 42vh;
    border-left: 2px solid #000;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.tecla.negra {
    width: 5vh;
    height: 25vh;
    background-color: black;
    position: absolute;
    left: 85%;
    top: 0;
    z-index: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tecla.active {
    background-color: yellow;
}